*~
.*.sw?
*.log
*-log
*.log.*
*-log.*
*.pem
*.pyc
.localrc.auto
.localrc.password
.prereqs
.tox
.stackenv
accrc
doc/files
doc/build
files/*.gz
files/*.vmdk
files/*.rpm
files/*.rpm.*
files/*.deb
files/*.deb.*
files/*.qcow2
files/*.img
files/images
files/pip-*
files/get-pip.py*
files/ir-deploy*
files/ironic-inspector*
files/etcd*
local.sh
localrc
proto
shocco
src
stack-screenrc
userrc_early
AUTHORS
ChangeLog
.idea
.vscode
/files/Fedora-Cloud-Base-36-1.5.x86_64.qcow2
/files/fedora-coreos-35.20220116.3.0-openstack.x86_64.qcow2.xz
/files/fedora-coreos-31.20200323.3.2-openstack.x86_64.qcow2.xz
